In [264]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
import matplotlib.pyplot as plt
from matplotlib import font_manager
import matplotlib.ticker as ticker
import seaborn as sns
import scipy as sp
from scipy import stats
import ast
from datetime import datetime, date, timedelta
from pandas.tseries.offsets import DateOffset
from scipy.stats import levene

import warnings
warnings.filterwarnings("ignore")

font_fname = 'C:/Windows/Fonts/malgun.ttf'
font_family = font_manager.FontProperties(fname=font_fname).get_name()
plt.rcParams['font.family'] = font_family
plt.rcParams['axes.unicode_minus'] = False

%matplotlib inline

In [265]:
apartment = pd.read_csv("apartment_20230822.csv")
apartment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3133 entries, 0 to 3132
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   아파트명       3133 non-null   object
 1   법정동주소      3133 non-null   object
 2   위도         3133 non-null   float64
 3   경도         3133 non-null   float64
 4   세대수        3133 non-null   int64
 5   임대세대수      2899 non-null   float64
 6   최고층        3103 non-null   float64
 7   최저층        3090 non-null   float64
 8   최대공급면적     3133 non-null   float64
 9   최소공급면적     3133 non-null   float64
 10  총아파트동수     3109 non-null   float64
 11  용적률        3133 non-null   float64
 12  건폐율        3133 non-null   float64
 13  세대평균_주차대수  3065 non-null   float64
 14  공급면적       3133 non-null   float64
 15  전용면적       3133 non-null   float64
 16  전용율        3133 non-null   float64
 17  방수         3051 non-null   float64
 18  욕실수        3051 non-null   float64
 19  현관구조       3133 non-null   object
 20  입주예정연도     3133 non-null   int64
 21  공급액(만원)    3133 non-null   int64
 22  대형건설사      3133 non-null   bool
 23  지하철역       3133 non-null   object
 24  지하철역_거리    3133 non-null   float64
 25  역사명        3133 non-null   object
 26  노선명_리스트    3133 non-null   object
 27  1차병원       3133 non-null   int64
 28  2차병원       3133 non-null   int64
 29  3차병원       3133 non-null   int64
 30  공원         3133 non-null   int64
 31  대학         3133 non-null   int64
 32  광역         3133 non-null   object
 33  기초         3133 non-null   object
 34  소매         3133 non-null   object
 35  음식         3133 non-null   object
 36  교육         3133 non-null   object
 37  장례식장       3133 non-null   int64
 38  보건의료       3133 non-null   object
 39  유원지오락      3133 non-null   object
 40  총인구수       3133 non-null   object
dtypes: bool(1), float64(17), int64(9), object(14)
memory usage: 982.2+ KB

NULL 제거

In [266]:
apartment.columns
cols = ['아파트명', '법정동주소', '위도', '경도', '세대수', '임대세대수', '최고층', '최저층', '최대공급면적',
       '최소공급면적', '총아파트동수', '세대평균_주차대수', '전용율',
       '방수', '욕실수', '현관구조', '입주예정연도', '공급액(만원)', '대형건설사', '지하철역', '지하철역_거리',
       '역사명', '노선명_리스트', '1차병원', '2차병원', '3차병원', '공원', '대학', '광역', '기초', '소매',
       '음식', '교육', '장례식장', '보건의료', '유원지오락', '총인구수']

In [267]:
apartment = apartment.dropna(subset=cols, how='any')
apartment = apartment[(apartment['용적률'] != -1) & (apartment['건폐율'] != -1)]
apartment.tail(3)

,아파트명,법정동주소,위도,경도,세대수,임대세대수,최고층,최저층,최대공급면적,최소공급면적,총아파트동수,용적률,건폐율,세대평균_주차대수,공급면적,전용면적,전용율,방수,욕실수,현관구조,입주예정연도,공급액(만원),대형건설사,지하철역,지하철역_거리,역사명,노선명_리스트,1차병원,2차병원,3차병원,공원,대학,광역,기초,소매,음식,교육,장례식장,보건의료,유원지오락,총인구수
3125,군포 당동 그랑시티2차,경기도 군포시 당동 749-1,37.354777,126.947194,32,0.0,18.0,17.0,81.17,64.7,1.0,798.0,58.0,0.96,73.64,62.28,85.0,3.0,2.0,계단식,2020,29300,False,군포역,0.1649,군포역,['1호선'],52,6,0,27,7,경기,군포시,"6,286","3,015",694,4,103,276,"265,999"
3126,군포 당동 그랑시티2차,경기도 군포시 당동 749-1,37.354777,126.947194,32,0.0,18.0,17.0,81.17,64.7,1.0,798.0,58.0,0.96,78.22,65.85,84.0,3.0,2.0,계단식,2020,28800,False,군포역,0.1649,군포역,['1호선'],52,6,0,27,7,경기,군포시,"6,286","3,015",694,4,103,276,"265,999"
3127,군포 당동 그랑시티2차,경기도 군포시 당동 749-1,37.354777,126.947194,32,0.0,18.0,17.0,81.17,64.7,1.0,798.0,58.0,0.96,69.67,58.51,84.0,3.0,2.0,계단식,2020,28000,False,군포역,0.1649,군포역,['1호선'],4,0,0,27,7,경기,군포시,"6,286","3,015",694,4,103,276,"265,999"

지하철 노선명 리스트 원핫인코딩

In [268]:
apartment['노선명_리스트'] = apartment['노선명_리스트'].apply(ast.literal_eval)
all_rail = set(rail for rail_list in apartment['노선명_리스트'] for rail in rail_list)

for one_rail in all_rail:
    apartment[f'노선_{one_rail}'] = apartment['노선명_리스트'].apply(lambda x: 1 if one_rail in x else 0)

apartment.drop(columns=['노선명_리스트'], inplace=True)

타입 수

In [269]:
type_cnt = apartment['아파트명'].value_counts().to_dict()
apartment['타입'] = apartment['아파트명'].map(type_cnt)

In [270]:
apartment.loc[:, '공급액(만원)'] = apartment['공급액(만원)'].replace(r"[,]", "", regex=True)
apartment['공급액(만원)'] = apartment['공급액(만원)'].astype(int)
apartment['공급액(만원)']

0       132040
1       131280
2       131240
3       130910
4       130600
         ...
3123     30300
3124     29800
3125     29300
3126     28800
3127     28000
Name: 공급액(만원), Length: 2335, dtype: int32

In [271]:
apartment['기초'] = apartment['광역'] + '_' + apartment['기초']

In [272]:
encoding_cols = ['광역', '기초', '입주예정연도']
for_regression = pd.get_dummies(apartment, columns=encoding_cols)

In [273]:
for_regression.columns

Index(['아파트명', '법정동주소', '위도', '경도', '세대수', '임대세대수', '최고층', '최저층', '최대공급면적',
       '최소공급면적',
       ...
       '기초_인천_서구', '기초_인천_연수구', '기초_인천_중구', '입주예정연도_2020', '입주예정연도_2021',
       '입주예정연도_2022', '입주예정연도_2023', '입주예정연도_2024', '입주예정연도_2025',
       '입주예정연도_2026'],
      dtype='object', length=135)

In [274]:
for_regression.rename(columns={'공급액(만원)': '공급액',
                           '1차병원': '병원_1차',
                           '2차병원': '병원_2차',
                           '3차병원': '병원_3차',
                           '노선_인천지하철 1호선': '노선_인천_1호선',
                           '노선_인천지하철 2호선': '노선_인천_2호선'}, inplace=True)

In [275]:
for_regression = for_regression.apply(lambda x: x.replace(r"\s|\n|\t|\([^()]*\)|[,.·]", "", regex=True))
for_regression[['소매', '음식', '교육', '보건의료', '유원지오락', '총인구수']] = for_regression[['소매', '음식', '교육', '보건의료', '유원지오락', '총인구수']].astype(int)

In [276]:
variable_list = list(for_regression.columns)
variable_list

['아파트명',
 '법정동주소',
 '위도',
 '경도',
 '세대수',
 '임대세대수',
 '최고층',
 '최저층',
 '최대공급면적',
 '최소공급면적',
 '총아파트동수',
 '용적률',
 '건폐율',
 '세대평균_주차대수',
 '공급면적',
 '전용면적',
 '전용율',
 '방수',
 '욕실수',
 '현관구조',
 '공급액',
 '대형건설사',
 '지하철역',
 '지하철역_거리',
 '역사명',
 '병원_1차',
 '병원_2차',
 '병원_3차',
 '공원',
 '대학',
 '소매',
 '음식',
 '교육',
 '장례식장',
 '보건의료',
 '유원지오락',
 '총인구수',
 '노선_경강선',
 '노선_7호선',
 '노선_의정부선',
 '노선_경춘선',
 '노선_김포골드라인',
 '노선_신림선',
 '노선_3호선',
 '노선_신분당선',
 '노선_4호선',
 '노선_인천_1호선',
 '노선_인천국제공항선',
 '노선_수인선',
 '노선_분당선',
 '노선_인천_2호선',
 '노선_8호선',
 '노선_진접선',
 '노선_6호선',
 '노선_9호선',
 '노선_에버라인',
 '노선_2호선',
 '노선_우이신설선',
 '노선_서해선',
 '노선_5호선',
 '노선_경의중앙선',
 '노선_1호선',
 '타입',
 '광역_경기',
 '광역_서울',
 '광역_인천',
 '기초_경기_가평군',
 '기초_경기_고양시',
 '기초_경기_과천시',
 '기초_경기_광명시',
 '기초_경기_광주시',
 '기초_경기_구리시',
 '기초_경기_군포시',
 '기초_경기_김포시',
 '기초_경기_남양주시',
 '기초_경기_동두천시',
 '기초_경기_부천시',
 '기초_경기_성남시',
 '기초_경기_수원시',
 '기초_경기_시흥시',
 '기초_경기_안산시',
 '기초_경기_안성시',
 '기초_경기_안양시',
 '기초_경기_양주시',
 '기초_경기_양평군',
 '기초_경기_여주시',
 '기초_경기_연천군',
 '기초_경기_오산시',
 '기초_경기_용인시',
 '기초_경기_의왕시',
 '기초_경기_의정부시',
 '기초_경기_이천시',
 '기초_경기_파주시',
 '기초_경기_평택시',
 '기초_경기_포천시',
 '기초_경기_하남시',
 '기초_경기_화성시',
 '기초_서울_강남구',
 '기초_서울_강동구',
 '기초_서울_강북구',
 '기초_서울_강서구',
 '기초_서울_관악구',
 '기초_서울_광진구',
 '기초_서울_구로구',
 '기초_서울_노원구',
 '기초_서울_도봉구',
 '기초_서울_동대문구',
 '기초_서울_동작구',
 '기초_서울_서대문구',
 '기초_서울_서초구',
 '기초_서울_성동구',
 '기초_서울_성북구',
 '기초_서울_송파구',
 '기초_서울_양천구',
 '기초_서울_영등포구',
 '기초_서울_은평구',
 '기초_서울_종로구',
 '기초_서울_중구',
 '기초_서울_중랑구',
 '기초_인천_강화군',
 '기초_인천_계양구',
 '기초_인천_남동구',
 '기초_인천_동구',
 '기초_인천_미추홀구',
 '기초_인천_부평구',
 '기초_인천_서구',
 '기초_인천_연수구',
 '기초_인천_중구',
 '입주예정연도_2020',
 '입주예정연도_2021',
 '입주예정연도_2022',
 '입주예정연도_2023',
 '입주예정연도_2024',
 '입주예정연도_2025',
 '입주예정연도_2026']

In [277]:
'+'.join(variable_list)

'아파트명+법정동주소+위도+경도+세대수+임대세대수+최고층+최저층+최대공급면적+최소공급면적+총아파트동수+용적률+건폐율+세대평균_주차대수+공급면적+전용면적+전용율+방수+욕실수+현관구조+공급액+대형건설사+지하철역+지하철역_거리+역사명+병원_1차+병원_2차+병원_3차+공원+대학+소매+음식+교육+장례식장+보건의료+유원지오락+총인구수+노선_경강선+노선_7호선+노선_의정부선+노선_경춘선+노선_김포골드라인+노선_신림선+노선_3호선+노선_신분당선+노선_4호선+노선_인천_1호선+노선_인천국제공항선+노선_수인선+노선_분당선+노선_인천_2호선+노선_8호선+노선_진접선+노선_6호선+노선_9호선+노선_에버라인+노선_2호선+노선_우이신설선+노선_서해선+노선_5호선+노선_경의중앙선+노선_1호선+타입+광역_경기+광역_서울+광역_인천+기초_경기_가평군+기초_경기_고양시+기초_경기_과천시+기초_경기_광명시+기초_경기_광주시+기초_경기_구리시+기초_경기_군포시+기초_경기_김포시+기초_경기_남양주시+기초_경기_동두천시+기초_경기_부천시+기초_경기_성남시+기초_경기_수원시+기초_경기_시흥시+기초_경기_안산시+기초_경기_안성시+기초_경기_안양시+기초_경기_양주시+기초_경기_양평군+기초_경기_여주시+기초_경기_연천군+기초_경기_오산시+기초_경기_용인시+기초_경기_의왕시+기초_경기_의정부시+기초_경기_이천시+기초_경기_파주시+기초_경기_평택시+기초_경기_포천시+기초_경기_하남시+기초_경기_화성시+기초_서울_강남구+기초_서울_강동구+기초_서울_강북구+기초_서울_강서구+기초_서울_관악구+기초_서울_광진구+기초_서울_구로구+기초_서울_노원구+기초_서울_도봉구+기초_서울_동대문구+기초_서울_동작구+기초_서울_서대문구+기초_서울_서초구+기초_서울_성동구+기초_서울_성북구+기초_서울_송파구+기초_서울_양천구+기초_서울_영등포구+기초_서울_은평구+기초_서울_종로구+기초_서울_중구+기초_서울_중랑구+기초_인천_강화군+기초_인천_계양구+기초_인천_남동구+기초_인천_동구+기초_인천_미추홀구+기초_인천_부평구+기초_인천_서구+기초_인천_연수구+기초_인천_중구+입주예정연도_2020+입주예정연도_2021+입주예정연도_2022+입주예정연도_2023+입주예정연도_2024+입주예정연도_2025+입주예정연도_2026'

In [278]:
formula = '공급액 ~ 임대세대수+최대공급면적+최소공급면적+건폐율+타입+전용율+방수+욕실수+대형건설사+지하철역_거리+병원_3차+공원+대학+\
    소매+노선_경강선+노선_신림선+노선_1호선+노선_3호선+노선_신분당선+노선_인천_1호선+노선_인천국제공항선+노선_수인선+노선_인천_2호선+노선_진접선\
        +노선_9호선+노선_에버라인+노선_2호선+광역_경기+광역_인천+기초_경기_가평군+기초_경기_과천시+기초_경기_광명시+기초_경기_성남시+기초_경기_안양시+\
            기초_경기_오산시+기초_경기_의왕시+기초_경기_파주시+기초_서울_강남구+기초_서울_노원구+기초_서울_동작구+기초_서울_서초구+기초_서울_송파구+\
                기초_서울_은평구+기초_서울_중랑구+기초_인천_계양구+기초_인천_남동구+기초_인천_부평구+기초_인천_서구+\
                    입주예정연도_2020+입주예정연도_2021+입주예정연도_2022+입주예정연도_2023+입주예정연도_2024'
        
model = smf.ols(formula, for_regression)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    공급액   R-squared:                       0.728
Model:                            OLS   Adj. R-squared:                  0.721
Method:                 Least Squares   F-statistic:                     114.9
Date:                Wed, 23 Aug 2023   Prob (F-statistic):               0.00
Time:                        00:23:50   Log-Likelihood:                -26013.
No. Observations:                2335   AIC:                         5.213e+04
Df Residuals:                    2281   BIC:                         5.244e+04
Df Model:                          53
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept           -5.837e+04   8853.449     -6.593      0.000   -7.57e+04    -4.1e+04
대형건설사[T.True]        3693.2829    933.470      3.957      0.000    1862.743    5523.822
광역_경기[T.True]       -3.033e+04   1805.297    -16.800      0.000   -3.39e+04   -2.68e+04
광역_인천[T.True]       -1.949e+04   2413.444     -8.077      0.000   -2.42e+04   -1.48e+04
기초_경기_가평군[T.True]   -4.143e+04   5941.589     -6.973      0.000   -5.31e+04   -2.98e+04
기초_경기_과천시[T.True]    3.559e+04   3170.782     11.224      0.000    2.94e+04    4.18e+04
기초_경기_광명시[T.True]    2.603e+04   3771.982      6.901      0.000    1.86e+04    3.34e+04
기초_경기_성남시[T.True]    2.542e+04   4034.727      6.300      0.000    1.75e+04    3.33e+04
기초_경기_안양시[T.True]    2.254e+04   2327.253      9.687      0.000     1.8e+04    2.71e+04
기초_경기_오산시[T.True]   -7712.6909   2375.356     -3.247      0.001   -1.24e+04   -3054.607
기초_경기_의왕시[T.True]    1.944e+04   5494.927      3.539      0.000    8668.972    3.02e+04
기초_경기_파주시[T.True]   -1.173e+04   2025.331     -5.792      0.000   -1.57e+04   -7758.176
기초_서울_강남구[T.True]    7.119e+04   5720.269     12.445      0.000       6e+04    8.24e+04
기초_서울_노원구[T.True]   -2.493e+04   5773.147     -4.318      0.000   -3.63e+04   -1.36e+04
기초_서울_동작구[T.True]    1.657e+04   4606.502      3.597      0.000    7535.591    2.56e+04
기초_서울_서초구[T.True]    5.659e+04   6201.441      9.125      0.000    4.44e+04    6.87e+04
기초_서울_송파구[T.True]   -2.434e+04   6507.181     -3.740      0.000   -3.71e+04   -1.16e+04
기초_서울_은평구[T.True]   -1.377e+04   2990.240     -4.605      0.000   -1.96e+04   -7905.944
기초_서울_중랑구[T.True]   -1.116e+04   3483.673     -3.204      0.001    -1.8e+04   -4331.367
기초_인천_계양구[T.True]   -1.858e+04   3188.978     -5.828      0.000   -2.48e+04   -1.23e+04
기초_인천_남동구[T.True]    -1.19e+04   4791.343     -2.483      0.013   -2.13e+04   -2502.789
기초_인천_부평구[T.True]   -9318.1099   2876.902     -3.239      0.001    -1.5e+04   -3676.492
기초_인천_서구[T.True]    -1.339e+04   2737.651     -4.890      0.000   -1.88e+04   -8018.060
입주예정연도_2020[T.True] -2.421e+04   2218.919    -10.912      0.000   -2.86e+04   -1.99e+04
입주예정연도_2021[T.True] -1.018e+04   1982.006     -5.137      0.000   -1.41e+04   -6294.056
입주예정연도_2022[T.True] -1.182e+04   1294.535     -9.131      0.000   -1.44e+04   -9282.398
입주예정연도_2023[T.True] -1.235e+04   1114.907    -11.079      0.000   -1.45e+04   -1.02e+04
입주예정연도_2024[T.True] -3597.8585   1109.258     -3.243      0.001   -5773.118   -1422.599
임대세대수                  14.9611      4.207      3.557      0.000       6.712      23.210
최대공급면적                237.4642     12.932     18.362      0.000     212.104     262.825
최소공급면적                127.1461     23.244      5.470      0.000      81.564     172.728
건폐율                    93.9342     16.364      5.740      0.000      61.845     126.023
타입                    342.6493    116.909      2.931      0.003     113.390     571.908
전용율                   368.5266    125.334      2.940      0.003     122.747     614.306
방수                   7822.1907    938.054      8.339      0.000    5982.664    9661.718
욕실수                  2.188e+04   1621.745     13.490      0.000    1.87e+04    2.51e+04
지하철역_거리              -783.1881    142.508     -5.496      0.000   -1062.646    -503.730
병원_3차                3600.7685    692.637      5.199      0.000    2242.505    4959.032
공원                    333.6468     68.292      4.886      0.000     199.726     467.567
대학                   -274.9111    120.713     -2.277      0.023    -511.630     -38.192
소매                      0.3527      0.076      4.642      0.000       0.204       0.502
노선_경강선              -9172.9705   1976.878     -4.640      0.000    -1.3e+04   -5296.305
노선_신림선               1.113e+04   4778.494      2.329      0.020    1756.537    2.05e+04
노선_1호선              -4327.7273   1222.305     -3.541      0.000   -6724.673   -1930.781
노선_3호선              -2.185e+04   6058.909     -3.607      0.000   -3.37e+04   -9972.757
노선_신분당선              1.681e+04   3438.839      4.887      0.000    1.01e+04    2.35e+04
노선_인천_1호선             1.62e+04   2136.327      7.583      0.000     1.2e+04    2.04e+04
노선_인천국제공항선            -1.8e+04   2617.777     -6.876      0.000   -2.31e+04   -1.29e+04
노선_수인선              -1.087e+04   1742.061     -6.240      0.000   -1.43e+04   -7454.202
노선_인천_2호선           -1.128e+04   2772.786     -4.067      0.000   -1.67e+04   -5840.485
노선_진접선              -8826.7649   2962.738     -2.979      0.003   -1.46e+04   -3016.821
노선_9호선               1.499e+04   2919.286      5.134      0.000    9261.761    2.07e+04
노선_에버라인             -1.033e+04   2194.310     -4.708      0.000   -1.46e+04   -6027.689
노선_2호선               1.375e+04   2437.306      5.643      0.000    8974.765    1.85e+04
==============================================================================
Omnibus:                     1165.510   Durbin-Watson:                   0.923
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            18240.114
Skew:                           1.969   Prob(JB):                         0.00
Kurtosis:                      16.114   Cond. No.                     4.01e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [279]:
pd.set_option('display.max_columns', None)

df = pd.DataFrame({'컬럼': column, 'VIF': variance_inflation_factor(result.model.exog, i)}
              for i, column in enumerate(result.model.exog_names)
              if column != 'Intercept')
df.sort_values(by='VIF')

                     컬럼       VIF
49               노선_진접선  1.093777
6     기초_경기_성남시[T.True]  1.134775
5     기초_경기_광명시[T.True]  1.139083
9     기초_경기_의왕시[T.True]  1.162126
12    기초_서울_노원구[T.True]  1.166672
17    기초_서울_중랑구[T.True]  1.180269
7     기초_경기_안양시[T.True]  1.185181
15    기초_서울_송파구[T.True]  1.186787
44              노선_신분당선  1.190643
41               노선_신림선  1.196360
36                병원_3차  1.228329
18    기초_인천_계양구[T.True]  1.232535
11    기초_서울_강남구[T.True]  1.259396
10    기초_경기_파주시[T.True]  1.261121
19    기초_인천_남동구[T.True]  1.282436
8     기초_경기_오산시[T.True]  1.346865
4     기초_경기_과천시[T.True]  1.355407
16    기초_서울_은평구[T.True]  1.387269
13    기초_서울_동작구[T.True]  1.405838
40               노선_경강선  1.415155
22  입주예정연도_2020[T.True]  1.449770
35              지하철역_거리  1.482449
32                  전용율  1.487768
20    기초_인천_부평구[T.True]  1.507100
47               노선_수인선  1.543886
37                   공원  1.548469
51              노선_에버라인  1.635690
52               노선_2호선  1.652326
38                   대학  1.700303
23  입주예정연도_2021[T.True]  1.707629
50               노선_9호선  1.722971
0         대형건설사[T.True]  1.730066
31                   타입  1.785672
26  입주예정연도_2024[T.True]  1.816433
24  입주예정연도_2022[T.True]  1.862439
25  입주예정연도_2023[T.True]  1.948177
46           노선_인천국제공항선  1.950835
3     기초_경기_가평군[T.True]  1.972089
30                  건폐율  2.041164
27                임대세대수  2.094015
34                  욕실수  2.119184
29               최소공급면적  2.166577
28               최대공급면적  2.230341
42               노선_1호선  2.244047
21     기초_인천_서구[T.True]  2.304203
33                   방수  2.388255
43               노선_3호선  2.685790
39                   소매  2.801038
14    기초_서울_서초구[T.True]  3.078941
45            노선_인천_1호선  3.131917
48            노선_인천_2호선  3.173538
1         광역_경기[T.True]  6.429797
2         광역_인천[T.True]  7.784214

In [280]:
output_filename = 'regression_result.txt'
with open(output_filename, 'w') as f:
    f.write(result.summary().as_text())